@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import '@fontsource/montserrat'; 
@import '@fontsource/montserrat/200.css'; 
@import '@fontsource/montserrat/700.css'; 

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Inter", sans-serif;
  --font-mono: monospace;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
} */

body {
  background-color: black;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;

}


html, body {
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.slick-dots li button:before {
  color: white !important; 
  font-size: 8px !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: red !important; 
}

@font-face {
  font-family: "Pecita";
  src: url("/fonts/Pecita.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga", "dlig"; /* Enable OpenType features */
}

.pecita-style {
  font-family: "Pecita", cursive;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; /* Improves text clarity */
}

.rhombus-image {
  transform: rotate(90deg);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}



@keyframes blink-move {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-blink-move {
  animation: blink-move 1.5s infinite ease-in-out;
}

@keyframes blink-glow {
  0% {
    box-shadow: 0 0 5px 2px #D42D21;
  }
  50% {
    box-shadow: 0 0 25px 2px #e93c30;
  }
  100% {
    box-shadow: 0 0 5px 2px #D42D21;
  }
}

.animate-blink-move-circle {
  animation: blink-glow 2s infinite ease-in-out;
}


